@page "/allmens"


<HeadContent>
    <link rel="stylesheet" href="~/css/allmens.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;1,100;1,400&family=Oswald&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
</HeadContent>


<div class="headingofallmenslink">
    <div class="new">
        <a href="/" class="atag" >Home</a> / <a href="/allmens" class="atag">Mens</a>
    </div>
    
</div>    
    




<div class="main-div-class">
    <div class="cards">
        <div class="card">
            <img src="/css/prod1.png" alt="Mens Sleeveless" style="width:100%">
            <h5 class="allheads">Mens Sleeveless</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton  35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>

        <div class="card">
            <img src="/css/prod2.png" alt="Mens Tee" style="width:100%">
            <h5 class="allheads">Mens Tee</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>


        <div class="card">
            <img src="/css/prod3.png" alt="Essential Tee" style="width:100%">
            <h5 class="allheads">Essential Tee</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>

        <div class="card">
            <img src="/css/prod4.png" alt="Performance Tee" style="width:100%">
            <h5 class="allheads"> Performance Tee</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>
    </div>
</div>


<div class="main-div-class">
    <div class="cards">
        <div class="card">
            <img src="/css/prod1.png" alt="Mens Sleeveless" style="width:100%">
            <h5 class="allheads">Mens Sleeveless</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton  35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>

        <div class="card">
            <img src="/css/prod2.png" alt="Mens Tee" style="width:100%">
            <h5 class="allheads">Mens Tee</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>


        <div class="card">
            <img src="/css/prod3.png" alt="Essential Tee" style="width:100%">
            <h5 class="allheads">Essential Tee</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>

        <div class="card">
            <img src="/css/prod4.png" alt="Performance Tee" style="width:100%">
            <h5 class="allheads"> Performance Tee</h5>
            <p class="price">$19.99</p>
            <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>
    </div>
</div>





@code {

}
