@page  "/"

<HeadContent>
    <link rel="stylesheet" href="~/css/homepage.css" /> 
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;1,100;1,400&family=Oswald&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
</HeadContent>

<div class="container">
</div>


<div class="main-div-class">
  <h3 class="trend">Trending Products</h3>
  <div class="cards">
    <div class="card">
            <img src="/css/prod1.png" alt="Mens Sleeveless" style="width:100%">
        <h5 class="allheads">Mens Sleeveless</h5>
        <p class="price">$19.99</p>
        <p class="description">65% Cotton  35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
      </div>
  
      <div class="card">
            <img src="/css/prod2.png" alt="Mens Tee" style="width:100%">
          <h5 class="allheads">Mens Tee</h5>
          <p class="price">$19.99</p>
          <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>
  
  
        <div class="card">
            <img src="/css/prod3.png" alt="Essential Tee" style="width:100%">
          <h5 class="allheads">Essential Tee</h5>
          <p class="price">$19.99</p>
          <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>
  
        <div class="card">
            <img src="/css/prod4.png" alt="Performance Tee" style="width:100%">
          <h5 class="allheads"> Performance Tee</h5>
          <p class="price">$19.99</p>
          <p class="description">65% Cotton 35% Polyster Fleece</p>
            <p><a href="/orderform">Add to Cart</a></p>
        </div>
</div>
</div>


<h3 class="main-cat-head">
    OUR CATEGORIES
</h3>

<div class="main-cat">

   

    
        <div class="div1">
        <a href="/allmens" class="divahref">Mens</a>
    </div>


    <div class="sub-main-cat">
        <div class="div2">
            <a href="#" class="divbhref">Mens and Womens</a>
        </div>
        <div class="div3">
            <a href="#" class="divbhref">Womens</a>
        </div>
    </div>




</div>

<h3 class="main-cat-head-site-map">
    SITE MAP
</h3>


    



@code {

}
